/* Custom global styles to remove focus outline */
* {
      @apply focus:outline-none;
}

/* Optionally keep the outline for keyboard navigation */
*:focus-visible {
      outline: 2px solid blue;
      /* Customize the style as needed */
}

*,
html,
body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}