backend libraries. 
express nodemon cors dotenv jsonwebtoken bcrypt fs path multer nodemailer jsonify nodemon

front end libraries : 
react-router-dom, react-icons , axios, jwt-decode

Ecommerse application requirements : 
-------------------------------------------------------------------------------------------------
-> Login page requirements
-------------------------------------------------------------------------------------------------
User story : (when he is not logged in)

1. when user enters the homepage url login page should open. 
2. there will  be only logo and login link at the top of the header.
3. login page will have email and password field with sign in button. 
4. Along with the password label. there will be forgot password link. 
5. after the sign in button. Dont have an Account? register here , link should be displayed. 
6. footer will have follow us (heading social media links) containing, fb instagram twitter and linked in links. 
7. policies heading. will have links to PrivacyPolicy , and Return policy, 
8. At the right side of the footer , address should get displayed, 
9. lastly, at the bottom of the footer, copy rigth symbol and ecoders trademark, All rigghts reserved 

-------------------------------------------------------------------------------------------------
-> outlet page requirements
-------------------------------------------------------------------------------------------------